@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estas son las Direcciones de nuestros repositorios en Github.</p>


<p class="jumbotron">
    <a href="https://github.com/aldair1de1gracia">Aldair De Gracia </a>
</p>
    
<br>
<p class=" jumbotron">
    <a href="https://github.com/Takeshiackerman"> Wislder Castillo</a>
</p>
<br>
<p class=" jumbotron">
    <a href="https://github.com/msr31"> Maximo Sanches </a>
</p>
<br>
<p class=" jumbotron">
    <a href="https://github.com/kornofilo"> Ricardo Rubio</a>
</p>
